.data_wrapper{
  /* gap: 5px; */
  background-color: red;
  width: 100%;
}
.main{
  background-color: blue;
  margin-bottom: 10px;
  /* display: flex; */
  position: relative;
}
.userID{
  color: white;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 0;
}